@model EEBank.Models.PaymentOrder

@{
    ViewBag.Title = "Удалить поручение";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Удалить поручение</h2>
    </div>

    <h3>Вы уверены, что хотите удалить поручение?</h3>
    <div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    ФИО отправителя
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Users.UserInf1.FirstOrDefault(p => p.Email == User.Identity.Name).FullName)
                </dd>

                <dt>
                    Дата
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    Курс валют
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExchangeRates)
                </dd>


                <dt>
                    Банк получатель
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BankReceiver)
                </dd>

                <dt>
                    Бенефициар
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Benficiar)
                </dd>

                <dt>
                    Номер счета
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BankAccount)
                </dd>

                <dt>
                    Цель поручения
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentPurpose)
                </dd>

                <dt>
                    УНП отправителя
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserUNP)
                </dd>

                <dt>
                    УНП получателя
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceiverUNP)
                </dd>

                <dt>
                    Код платежа
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentCode)
                </dd>

                <dt>
                    Банк получатель
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Banks.Adress)
                </dd>


                <dt>
                    Тип платежного поручения
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TypeOfPaymentOrder.Name)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Уалить" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>