@model IEnumerable<EEBank.Models.ArchivePaymentOrders>

@{
    ViewBag.Title = "Платежное поручение";
}
<style>
    
        body {
            background:url('http://ultradesktop.us/wallpaper_3840x2160/textures_background_gray_yellow_blue_ultra_3840x2160_hd-wallpaper-243053.jpg') 20% 20%;
        }
    
</style>

<h2>Платежное поручение</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<p>
    @Html.ActionLink("Перейти к архиву документов свободного формата", "Index", "ArchiveFreeFormatDocs")
    |
    @Html.ActionLink("Перейти к архиву платежных требований", "Index", "ArchivePaymentRequirements")
</p>
<table class="table">
    <tr>
        <th>
            Номер банковского счета
        </th>
        <th>
            ФИО отправителя
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Курс валют
        </th>
        <th>
            Сумма платежа
        </th>
        <th>
            Банк получатель
        </th>
        <th>
            Бенефициар
        </th>
        <th>
            Назначение платежа
        </th>
        <th>
            Код платежа
        </th>
        <th>
            Тип поручения
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.BankAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.Users.UserInf1.FirstOrDefault(p => p.UserID == item.PaymentOrder.UserID).FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.Currency.PerOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.Summ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.Banks.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.Benficiar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.PaymentPurpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.PaymentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentOrder.TypeOfPaymentOrder.Name)
        </td>
        <td>
            @Html.ActionLink("Просмотреть", "Details", new { id = item.ArchivePaymentOrderID }, new {@class = "compItem" }) 
        </td>
    </tr>
}

</table>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}