@model EEBank.Models.UserInf
<style>
    body {
        background: url('http://nz4.ru/wp-content/uploads/2014/12/94.jpg');
    }
</style>
@{
    ViewBag.Title = "Профиль";
}
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Номер счета №@Model.AccountNumber</h2>
    </div>
    <div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    Код валюты
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Currency.CurrencyName)
                </dd>
                <dt>
                    ФИО
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt>
                    Email
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Баланс
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Balans)
                </dd>
                <dt>
                    Телефон
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

            </dl>
        </div>
    </div>
</div>