@model IEnumerable<EEBank.Models.UserInf>

@{
    ViewBag.Title = "Создать пользователя";
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
<style>
    body {
        background: url('http://flebtiz.ru/ff/2/tekstury_seryy_zheltyy_goluboy_fon_tekstura_2560x1440.jpg');
    }

    h2 {
        font-weight: 600;
    }
</style>
<h2>Создать пользователя</h2>

<p>
    @Html.ActionLink("Добавить пользователя", "Add_User","Account",null, new{ @class = "compItem" }) 
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<table class="table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Email
        </th>
        <th>
            Пароль
        </th>
        <th>
            Телефон
        </th>
        <th>
            Номер аккаунта
        </th>
        <th>
            ЭЦП
        </th>
        <th>
            Открытый ключ
        </th>
        <th>
            Адрес
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.UserInfID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.UserInfID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.UserInfID })
        </td>
    </tr>
}

</table>
