@model EEBank.Models.FullInfManagers

@{
    ViewBag.Title = "Удалить менеджера";
}

<h2>@ViewBag.Title</h2>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h3>Вы уверены что хотите удалить?</h3>
    </div>
    <div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>
                    ФИО
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Открытый ключ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpenKey)
                </dd>

                <dt>
                    Филиал банка
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Banks.Adress)
                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
            
