@model IEnumerable<EEBank.Models.FullInfManagers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banks.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banks.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ManagerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManagerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ManagerID })
        </td>
    </tr>
}

</table>
