@model IEnumerable<EEBank.Models.Users>

@{
    ViewBag.Title = "Добавить профиль";
}

<h2>Добавить пользователя</h2>

<p>
    @Html.ActionLink("Добавить пользователя", "Add_User", "Account")
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
