@model IEnumerable<EEBank.Models.PaymentRequirements>
@using EEBank.Models;
@{
    ViewBag.Title = "Платежные поручения";
}
@{EEBankEntitie db = new EEBankEntitie();
  var role = db.Users.Where(p => p.Email == User.Identity.Name).FirstOrDefault().RoleId;
  }


<h2>Платежные поручения</h2>

@if (role == 5)
{
    <p>
        @Html.ActionLink("Создать новый", "Create")
    </p>
}
@if (role == 7)
{
    <p>
        @Html.ActionLink("Создать новый", "Create_by_manager")
    </p>
}

<table class="table">
    <tr>
        <th>
            ФИО отправителя
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Код валюты
        </th>
        <th>
            Сумма перевода
        </th>
        <th>
            Назначение платежа
        </th>
        <th>
            УНП отправителя
        </th>
        <th>
            УНП банка
        </th>
        <th>
            Адрес банка
        </th>
        
        <th>
            Название документа
        </th>
        
        <th>
            Статус
        </th>
        <th>
            Комментарий
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Users.UserInf1.Where(p => p.UserID == item.UserID).FirstOrDefault().FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.СurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummOfremittance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentPurpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserUNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankUNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banks.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypePaymentRequirements.TypeName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DocStatus.StatusName)
        </td>
        <td>
            @if (item.StatusId == 4)
            {
                @Html.DisplayFor(modelItem => item.Comment)
            }
        </td>
        <td>
           
            @Html.ActionLink("Просмотреть", "Details", new { id=item.PaymentRequirementsID }) 
        </td>
        <td>
            @if (item.StatusId == 2 || item.StatusId == 4)
            {
                @Html.ActionLink("Редактировать", "Edit", new { id = item.PaymentRequirementsID })

            }
        </td>
        <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.PaymentRequirementsID })
        </td>
        
    </tr>
}

</table>
