@model IEnumerable<EEBank.Models.Banks>

@{
    ViewBag.Title = "Банки";
}

<h2>Филиалы E'&'EBank</h2>

<p>
    @if (User.Identity.Name == "admin@gmail.com")
                    {
            @Html.ActionLink("Добавить банк", "Create")
            }
</p>
<table class="table">
    <tr>
        <th>
            Адрес
        </th>
        <th>
            Код Банка
        </th>
        <th>
            Телефон
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BanckCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
@if (User.Identity.Name == "admin@gmail.com")
                    {
            @Html.ActionLink("Edit", "Edit", new { id=item.BankID }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.BankID })
            }
            @Html.ActionLink("Details", "Details", new { id=item.BankID }) 
            
        </td>
    </tr>
}

</table>
